header{
    border: 1px solid rgb(43, 136, 20);
    
}

h1,p,div{
    
    text-align: left;
    color: cornflowerblue;
    padding: 10px;
    width: 50%;
    display: inline;
}

h2, div{
    text-align: right;
    color: cornflowerblue;
    padding: 10px;
    width: 50%;
    display: inline;
}
a{
    border: 1px solid rgb(43, 255, 0);
    text-align: right;
    display: inline;
}
.contenedor{
    text-align: center;
    display: inline;
    width: 20%;
}
.productos{
    display: inline;
    width: 20%;
    
}
.imagen{
    height: 100px;
    width: 100px;
}

div.menu{
    border: 1px solid rgb(14, 2, 2);
    margin-left: 850px;
}
.img1,div{
   
    height: 500px;
    width: 1320px;
}
.img2,div{
    
    width: 200px;
    height: 200px;
    width: 22%;
    
}
.img3,div{
    
    width: 200px;
    height: 200px;
    width: 22%;
}








